body {
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
  }
  
  h1 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  #app {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
  }
  
  .password {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  label {
    font-weight: 400;
  }
  
  input[type="number"],
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  button#generate-btn {
    background-color: #2980b9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button#generate-btn:hover {
    background-color: #3498db;
  }
  